.photo-grid {
    max-width: 100%;
    width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin: auto;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: calc(100% - 48px);
        grid-template-columns: repeat(2, 1fr);
        margin: 0 24px;
    }
}

@media screen and (max-width: 480px) {
    .photo-grid {
        width: 100%;
        width: calc(100% - 32px);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        row-gap: 12px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 100%;
        width: calc(100% - 32px);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        row-gap: 12px;
        margin: 0 auto;
    }
}