.places {
    width: calc(100% - 296px);
    margin: 0 auto;
    border: 1px solid green;
}

@media screen and (max-width: 768px) {
    .places {
        width: calc(100% - 48px);
        margin: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        width: 100%;
        margin: 0;
    }
}