.intro__quote-author {
    color: white;
    width: 88%;
    text-align: end;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 0 32px 0;
}

@media screen and (max-width: 768px) {
    .intro__quote-author {
        margin: 0 0 32px;
        width: 100%;
        align-self: flex-end;
    }
}

@media screen and (max-width: 320px) {
    .intro__quote-author {
        width: calc(100% - 32px);
        margin: 0 0 32px;
        align-self: flex-end;
    }
}