.place__paragraphs {
    margin: 0;
    padding: 0;
}

.place__paragraph {
    color: white;
    font-size: 18px;
    line-height: 1.63;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

.place__paragraph:first-of-type {
    margin-bottom: 25px;
}

.place__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0278FE;
    border-radius: 4px;
    width: 248px;
    height: 48px;
    z-index: 2;
    transition: background 0.2s linear;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
}

.place__button:hover {
    background: #0063d2;
}

.cover {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: calc(100%-96px);
    height: 740px;
    margin: 92px 48px 0;
    position: relative;
    background-image: url(./images/visit_us__background.jpg);
    background-color: #2A2C2F;
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
}

.cover__title {
    color: #FFFDFD;
    width: 656px;
    height: 76px;
    text-align: center;
    font-size: 72px;
    line-height: 1.05;
    font-weight: 900;
    align-self: center;
    z-index: 1;
    margin: 243px auto 32px;
}

.cover__subtitle {
    color: #FFFDFD;
    width: 320px;
    height: 66px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5px;
    text-align: center;
    align-self: center;
    margin-bottom: 32px;
}

.cover__button {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
    z-index: 1;
    transition: background 0.2s linear;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    text-decoration: none;
}

.cover__button:hover {
    background: #0063d2;
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 740px;
        margin: 88px 0;
}

.footer {
    display: flex;
    justify-content: center;
    max-height: 16px;
    margin: 92px 0 24px;
}

.footer__copyright {
    color: #FFFDFD;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    align-self: center;
}


