.place__image {
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    grid-area: image;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .place__image {
        display: flex;
        justify-self: center;
        /* min-width: calc(100% + 32px); */
        object-fit: cover;
    }
}