.place__image {
    width: 460px;
    object-fit: cover;
    grid-area: image;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__image {
        width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        display:flex;
        align-self: flex-start;
        height: 320px;
        width: 320px;
        object-fit: cover;
    }
}