.place__button {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0278FE;
    border-radius: 4px;
    width: 248px;
    height: 48px;
    z-index: 2;
    transition: background 0.2s linear;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
}

.place__button:hover {
    background: #0063d2;
}

@media screen and (max-width: 425px) {
    .place__button {
        width: 288px;
        margin: 0 auto;
        align-self: center;
    }
}