.cover__subtitle {
    color: #FFFDFD;
    width: 320px;
    height: 66px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5px;
    align-self: center;
    margin-bottom: 32px;
    z-index: 1;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        margin-bottom: 16px;
    }
}