.cover__subtitle {
    color: #FFFDFD;
    width: 320px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
    align-self: center;
    margin-bottom: 32px;
    z-index: 1;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 1.14;
    }
}