.header {
    display: flex;
    justify-content: center;
    width: calc(100%-1009px);
    max-height: 72px;
    margin: 40px auto 0;
}

@media screen and (max-width: 320px) {
    .header {
        width: 100%
    }
}