.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 272px;
    margin: 34px auto 0;
}

@media screen and (min-width: 320px) {
    .header {
        width: 200px;
        margin: 20px auto 0;
    }
}