.lead__title {
    color: white;
    font-size: 96px;
    line-height: 1.04;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 0 24px;
    }
}