.place__paragraph {
    color: white;
    font-size: 18px;
    line-height: 1.63;
    font-weight: 400;
    margin: 0 0 px 0;
    padding: 0;
    word-wrap: normal;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.6;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        width: 288px;
    }
}