.footer__copyright {
    color: #FFFDFD;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    align-self: center;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        padding: 0;
    }
}