.lead__image {
    width: 100%;
    min-height: 615px;
    background-color: #000000;
    filter: grayscale(50);
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .lead__image {
        display: flex;
        align-self: center;
        min-width: calc(100% + 48px);
        min-height: 450px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        min-height: 187px;
        min-width: calc(100% + 32px);
    }
}