.intro {
    max-width: 785px;
    /*max-height: 490px;*/
    margin-left: 148px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .intro {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 320px;
        margin: 0 16px;
    }
}