.place__link {
    color: white;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    margin: 8px 0 0;
}

@media screen and (max-width: 320px) {
    .place__link {
        width: 90%;
        margin:  8px auto 0;;
    }
}