.cover__title {
    color: #FFFDFD;
    width: 656px;
    text-align: center;
    font-size: 72px;
    line-height: 1.05;
    font-weight: 900;
    align-self: center;
    z-index: 1;
    margin: 0 0 32px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        margin: 0 0 16px;
    }
}