.place {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas: "title artist" "image text" "button text";
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
}

.place:first-of-type {
    margin-top: 0;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 915px) {
    .place {
        grid-template-columns: 360px 1fr;
        grid-template-rows: auto 360px auto;
        column-gap: 28px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: auto 340px auto;
        margin-top: 72px;
    }
    .place:first-of-type {
        margin-top: 0;
    }
}

@media screen and (max-width: 672px) {
    .place {
        grid-template-areas: "title" "artist" "image" "text" "button";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 30px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: 100%;
        grid-template-areas: "title" "artist" "image" "text" "button";
        margin-top: 48px;
    }
}