.place {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas: "title artist" "image text" "button text";
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
    border: 1px solid yellow;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 915px) {
    .place {
        grid-template-columns: 360px 1fr;
        grid-template-rows: auto 360px auto;
        column-gap: 28px;
        row-gap: 25px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: auto 340px auto;
        /* 47% */
        column-gap: 28px;
        row-gap: 25px;
    }
}

@media screen and (max-width: 640px) {
    .place {
        grid-template-areas: "title" "artist" "image" "text" "button";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 25px;
    }
}

/* @media screen and (max-width: 672px) {
    .place {
    grid-template-rows: auto;
    }
} */

@media screen and (max-width: 425px) {
    .place {
        /* width: 100%; */
        /* margin: 0 0 48px; */
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "title" "artist" "image" "text" "button";
        row-gap: 25px;
    }