.footer {
    display: flex;
    justify-content: center;
    margin: 92px 0 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 64px 0 24px;
    }
}