.place__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .place__url-heading {
        margin: 8px 16px 0;
    }
}